--extra-index-url https://download.pytorch.org/whl/cpu
flask
python-dotenv
flask-migrate
psycopg2-binary
flask-cors
langchain
langchain-text-splitters
langchain-community
pypdf
langchain_google_genai
faiss-cpu
langchain-huggingface
sentence-transformers
gunicorn